.home {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;

  .menu {
    width: var(--menu-width);
    transition: width 0.2s ease-in-out;

    &.collapsed {
      width: 0;
    }
  }

  .layout {
    flex: 1;
    overflow: hidden;

    .header {
      height: var(--nav-height);
      padding: 0 14px;
      border-bottom: 1px solid var(--line-color);
      background-color: #fff;
      color: #000;
      display: flex;
      align-items: center;
    }

    .content {
      background-color: #fff;
      color: #000;
      overflow-y: scroll;
    }

    .footer {
      height: var(--footer-height);
      background-color: #fff;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
