.note {
  position: relative;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .navigation {
    height: 40px;
    font-size: 14px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navigationList {
      display: flex;
      align-items: center;
      .navigationItem {
        position: relative;
        padding-left: 14px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        &::before {
          content: '/';
          position: absolute;
          top: 50%;
          left: 0;
          color: #aaaaaa;
          transform: translate(7px, -50%);
        }
      }
    }
  }
  .cover {
    width: 100%;
    height: var(--note-cover-height);
    background-color: var(--color-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../../assets/imgs/wavy-lines.svg');
  }

  .container {
    flex: 1;
    position: relative;
    margin: 0 50px;
    min-height: 0;
    display: flex;
    flex-direction: column;
    .header {
      position: absolute;
      top: -20px;
      left: 6px;
      right: 6px;
      display: flex;
      align-items: flex-end;
      z-index: 1;

      .icon {
        background-color: #ffffff;
        color: #aaaaaa;
        box-shadow: 0px 23px 33px 0px rgba(44, 47, 62, 0.08);
      }
      .input {
        flex: 1;
        padding: 4px 20px;
        font-size: 30px;
        font-weight: bold;
      }
    }

    .content {
      flex: 1;
      position: relative;
      width: 100%;
      padding: 100px 0 40px;
      box-sizing: border-box;

      .commaLeft,
      .commaRight {
        position: absolute;
        width: 50px;
        height: 50px;
      }

      .commaLeft {
        top: 60px;
        left: 0;
      }

      .commaRight {
        right: -10px;
        bottom: 0;
      }

      .block {
        flex: 1;
        min-height: 40px;
        overflow: hidden;
      }
    }
  }
}
