.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--menu-width);
  height: 100vh;
  display: flex;
  align-items: center;
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
  z-index: 2;

  &.collapsed {
    transform: translateX(-100%);
  }

  .menuBox {
    position: relative;
    height: 100%;
    width: 100%;
    padding: var(--nav-height) 0 10px 0;
    box-sizing: border-box;
    position: relative;
    box-shadow: none;
    background-color: #fff;
    border-right: 1px solid var(--line-color);

    &.collapsed {
      height: calc(100% - var(--nav-height) * 2 - 20px);
      padding: 10px 0 10px 0;
      border-radius: 0 8px 8px 0;
      border: 1px solid var(--line-color);
      box-shadow: 0px 23px 33px 0px rgba(44, 47, 62, 0.08);
      transition:
        height 0.2s ease-in-out,
        padding 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
    }

    .menuContainer {
      position: relative;
      height: 100%;
      padding-bottom: var(--footer-height);
      box-sizing: border-box;

      &::before {
        content: '';
        position: absolute;
        right: -50px;
        top: 0;
        width: 50px;
        height: 100%;
        z-index: 1;
        opacity: 0;
      }
    }

    .menuPanel {
      height: 100%;
      box-sizing: border-box;
      overflow-y: auto;
      border: none;

      .icon {
        background: transparent;
      }
    }
  }
}
