.node {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;

  .menu {
    height: 33px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    &.heading1 {
      height: 55px;
    }
    &.heading2 {
      height: 46px;
    }
    &.heading3 {
      height: 39px;
    }
    .menuBtn {
      cursor: grab;
    }
  }
  &:hover {
    .menu {
      opacity: 1;
    }
  }

  .children {
    position: relative;
    flex: 1;
    margin-left: 4px;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
  }

  &.showBackground .children {
    background-color: rgba($color: #efefef, $alpha: 0.5);
  }
  &.hideBackground .children {
    background-color: transparent;
  }

  &.drag {
    .children::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: #efefef, $alpha: 0.6);
      border-radius: 6px;
      z-index: 1;
    }
  }

  &.hover.hoverTop {
    .children::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      border-radius: 2px;
      background-color: #1677ff;
      opacity: 0.3;
      z-index: 1;
    }
  }
  &.hover.hoverBottom {
    .children::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      border-radius: 2px;
      background-color: #1677ff;
      opacity: 0.3;
      z-index: 1;
    }
  }
}
